BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
NamespaceIndentation: All
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
PointerAlignment: Left
AllowShortLambdasOnASingleLine: None
BraceWrapping:
  BeforeLambdaBody: true
LambdaBodyIndentation: OuterScope
