build/
.vs/
.vscode/
out/
bin/
obj/
vcpkg_installed/
data/
asset/shader/
asset/cubemap/
asset/cache/
asset/model/
asset/generated/
!asset/model/
asset/model/*
!asset/model/player_cube.gltf
*.db
*.sqlite
*.sqlite3
*.user
*.suo
*.pdb
*.ilk
*.log
tmp-*
client-out.txt
client-err.txt
run1.txt
run2.txt
log.txt
